<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="Avatar"
                class="img-fluid my-5 profile-pic"
              />
              <h5>Insira sua foto acima</h5>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <form [formGroup]="fisherForm" (ngSubmit)="onSubmit()">
                  <h6>Informações Gerais</h6>
                  <hr class="mt-0 mb-4" />
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Nome</h6>
                      <input
                        type="text"
                        class="form-control"
                        id="nome"
                        name="nome"
                        formControlName="nome"
                        placeholder="Nome"
                      />
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Contato</h6>
                      <input
                        type="number"
                        class="form-control"
                        id="contato"
                        name="contato"
                        formControlName="contato"
                        placeholder="Contato"
                      />
                    </div>
                  </div>
                  <h6 style="margin-top: 2rem">Expedições</h6>
                  <hr class="mt-0 mb-4" />
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Local de Coleta</h6>
                      <input
                        type="text"
                        class="form-control"
                        id="local_coleta"
                        name="local_coleta"
                        formControlName="local_coleta"
                        placeholder="Local de Coleta"
                      />
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Embarcação</h6>
                      <input
                        type="text"
                        class="form-control"
                        id="barco"
                        name="barco"
                        formControlName="barco"
                        placeholder="Embarcação"
                      />
                    </div>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-primary fisher"
                    *ngIf="!isEditMode"
                  >
                    Criar Pescador
                  </button>
                  <button
                    type="submit"
                    class="btn btn-warning fisher"
                    *ngIf="isEditMode"
                  >
                    Atualizar Pescador
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
