<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container py-4 h-100">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img
          src="assets/images/logo-icon.svg"
          height="55"
          alt="Eco Logo"
          loading="lazy"
        />
      </a>

      <!-- Menu -->
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle fs-6"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Expedição</a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/expedition"
                >Iniciar nova expedição</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="/dashboard">Listagem de expedições</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#">Finalizar uma expedição</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Usuários</a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/user">Criar o perfil de um novo(a) usuário(a)</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="/user/list">Listar os perfis dos(as) usuários(as)</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#">Excluir o perfil de um(a) usuário(a)</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Embarcação</a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">Cadastrar nova embarcação</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#">Atualizar uma embarcação</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#">Suspender uma embarcação</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Pescadores</a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/fisher">Cadastrar um(a) novo(a) pescador(a)</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="/fisher/list">Listagem de pescadores(as)</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#">Suspender um(a) pescador(a)</a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- Configurações -->
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="assets/images/gear.svg"
              height="25"
              alt="Ícone de Configurações"
              loading="lazy"
            />
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">Cadastrar usuário</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#">Editar usuário</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#">Sair do sistema</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Navbar -->
