<header>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</header>

<div class="dashboard container py-5 h-100">
  <div class="card rounded-3">
    <div class="card-body p-md-0 mx-md-1">
      <table class="table table-striped align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>
              <div class="ms-3">Status</div>
            </th>
            <th>Bolsista</th>
            <th>Data</th>
            <th>Hora Início</th>
            <th>Local de Coleta</th>
            <th>Embarcação</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- Linha Modelo -->
          <tr *ngFor="let ExpeditionList of expeditions">
            <!-- Status -->
            <td>
              <div class="ms-3">
                <span class="badge text-bg-success">Criado</span>
              </div>
            </td>

            <!-- Bolsista -->
            <td>
              <div class="d-flex align-items-center">
                <p class="fw-normal mb-1">{{ ExpeditionList.bolsista }}</p>
              </div>
            </td>

            <!-- Data -->
            <td>
              <p class="fw-normal mb-1">{{ ExpeditionList.data }}</p>
            </td>

            <!-- Hora -->
            <td>
              <p class="fw-normal mb-1">{{ ExpeditionList.hora_inicio }}</p>
            </td>

            <!-- Local de Coleta -->
            <td>
              <p class="fw-normal mb-1">{{ ExpeditionList.local_coleta }}</p>
            </td>

            <!-- Embarcação -->
            <td>
              <p class="fw-normal mb-1">{{ ExpeditionList.barco }}</p>
            </td>

            <!-- Status -->
            <td>
              <button
                type="button"
                class="btn btn-warning btn-md"
                style="margin-right: 20px"
                (click)="editExpedition(ExpeditionList.id)"
              >
                Editar
              </button>
              <button
                type="button"
                class="btn btn-primary btn-md"
                style="margin-right: 20px"
              >
                Finalizar
              </button>
              <button
                type="button"
                class="btn btn-danger btn-md"
                (click)="
                  openDeleteModal(deleteConfirmationModal, ExpeditionList.id)
                "
              >
                Excluir
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Modal de Confirmação de Exclusão -->
      <ng-template #deleteConfirmationModal>
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modalRef?.hide()"
          ></button>
        </div>
        <div class="modal-body">
          Você tem certeza que deseja excluir esta expedição?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="modalRef?.hide()"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="confirmDelete()"
          >
            Excluir
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
