@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card {
  margin-top: 5rem;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.gradient-custom-2 {
  background: #f7f7f7;
}

.bg-indigo {
  background-color: #01afef;
}

@media (min-width: 992px) {
  .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

@media (max-width: 991px) {
  .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

/* Correção Floating Color Match */
.form-floating label {
  color: #212529 !important;
  padding: 10px;

  &::after {
    font-size: 10px;
    bottom: 100px;
  }
}

.form-floating input {
  height: 48.5px !important;
  min-height: 25px !important;
}

.center {
  text-align:center;
}

.chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.chip {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  background-color: #939393;
  color: #fff;
  border-radius: 16px;
  cursor: pointer;
}

.chip.selected {
  background-color: #004aa2;  /* Ou qualquer cor que você preferir */
  color: white;
}
