<header>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</header>
<div class="content">
  <div class="container" style="margin-top: 70px">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="text-center card-box">
          <div class="member-card pt-2 pb-2">
            <div class="thumb-lg member-thumb mx-auto">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar2.png"
                class="rounded-circle img-thumbnail"
                alt="profile-image"
              />
            </div>
            <div class="profile-info" style="margin-top: 1rem">
            </div>
            <button
              type="button"
              class="btn btn-info mt-3"
              style="margin-right: 10px"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-danger mt-3"
            >
              Excluir
            </button>
          </div>
        </div>
      </div>
      <!-- end col -->
  <!-- container -->

  <ng-template #deleteConfirmationModal>
    <div>
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Você tem certeza que deseja excluir o perfil de?
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-danger">
          Excluir
        </button>
      </div>
    </div>
  </ng-template>
</div>
