<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container container-fluid py-4 h-100">
    <a class="navbar-brand" href="/main">
      <img
        src="../../../../assets/images/logo-icon.svg"
        height="55"
        alt="Eco Logo"
        loading="lazy"
      />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Expedições</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/list">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Embarcações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fisher/list">Pescadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trash/list">Lixos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/local/list">Locais</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
