<header>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</header>
<section class="vh-75">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-8 mb-4 mb-lg-0">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 0.5rem"
        >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-12">
                <div class="p-5">
                  <form [formGroup]="expeditionForm" (ngSubmit)="onSubmit()">
                    <h4 class="fw-normal mb-4" style="color: #01afef">
                      Informações Gerais
                    </h4>
                    <div class="row">
                      <!-- Data -->
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <h6>Data</h6>
                          <input
                            type="text"
                            id="data"
                            name="data"
                            appFormatData
                            formControlName="data"
                            class="form-control"
                            placeholder="Data"
                          />
                        </div>
                      </div>

                      <!-- Hora inicial -->
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <h6>Horário de Início</h6>
                          <input
                            type="text"
                            id="hora_inicio"
                            name="hora_inicio"
                            appFormatHora
                            formControlName="hora_inicio"
                            class="form-control"
                            placeholder="Hora: Início"
                          />
                        </div>
                      </div>
                    </div>

                    <!-- Área de Coleta -->
                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <h6>Área de Coleta</h6>
                        <select
                          class="form-select"
                          aria-label="Locais de Coleta"
                          id="local_id"
                          name="local_id"
                          formControlName="local_id">
                          <option value=null disabled selected>Locais de Coleta</option>
                          <option *ngFor="let local of locals" [value]="local.id">{{ local["nome"] }}</option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <!-- Bolsista -->
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <h6>Bolsista</h6>
                          <select
                            class="form-select"
                            aria-label="Bolsistas"
                            id="user_id"
                            name="user_id"
                            formControlName="user_id">
                            <option value=null disabled selected>Bolsistas</option>
                            <option *ngFor="let user of users" [value]="user.id">{{ user["nome"] }}</option>
                          </select>
                        </div>
                      </div>

                      <!-- Embarcação -->
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <h6>Embarcação</h6>
                          <select
                            class="form-select"
                            aria-label="Embarcações"
                            id="ship_id"
                            name="ship_id"
                            formControlName="ship_id">
                            <option value=null disabled selected>Embarcações</option>
                            <option *ngFor="let ship of ships" [value]="ship.id">{{ ship["nome"] }}</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <button
                      type="submit"
                      class="btn btn-primary"
                      data-mdb-ripple-color="dark"
                      *ngIf="!isEditMode"
                    >
                      Criar Expedição
                    </button>
                    <button
                      type="submit"
                      class="btn btn-primary"
                      data-mdb-ripple-color="dark"
                      *ngIf="isEditMode"
                    >
                      Atualizar Expedição
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
